<h1>¡Update a newslink!</h1>
<form method="POST">
  <b>link <%= @link[0] %></b><br>
	<b>¡URL!</b><input name="url" value="<%= @link[3] %>"><br>
	<b>¡Title!</b><input name="title" value="<%= @link[1] %>"><br>
	<b>¡Description!</b><input name="description" value="<%= @link[2] %>"><br>
	<input type="submit" value="¡Update!">
</form>

<!-- re-explain the double arrays -->