<h1>¡Update a newslink!</h1>
<form method="POST">
  <b>link <%= @links[0][0] %></b><br>
	<b>¡URL!</b><input name="url" value="<%= @links[0][3] %>"><br>
	<b>¡Title!</b><input name="title" value="<%= @links[0][1] %>"><br>
	<b>¡Description!</b><input name="description" value="<%= @links[0][2] %>"><br>
	<input type="submit" value="¡Update!">
</form>

<!-- re-explain the double arrays -->