#links {
  width: 600px; 
  margin: 0 auto;
}

.link {
  background-color: #ccc;
  margin-bottom: 10px;
  text-align:center;
}

.description {
  margin-left: 20px;
}

.actions {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}