#title {
  color:#FFF;
  text-align:center;
  font-size:100px;
}

body {
  background-image: url(http://www.psdgraphics.com/file/fire-bokeh-background.jpg);
  background-size: 1500px 1200px;
}

.category {
  width: 32%; 
  margin: 0 auto;
  float: left;
  padding-right: 5px;
}


.link {
  background-color: #ccc;
  margin-bottom: 10px;
  text-align:center;
}

.description {
  margin-left: 20px;
}

#edit {
  float:right;
}

